@import '../../sassStyles/variables';
@import '../../sassStyles/typography';
@import '../../sassStyles/mixins';
@import '../../sassStyles/global';

.desktop{
    &.coursedetailsrecent{
        .footersection{
            margin-top: 80px;
        }
        .coursedetailsrecentcomp{
            .video{                
                width: 100%;  
                position:relative;   
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                  }
                  
                  .overlay img {
                    width: 80px;
                    height: 80px;
                    opacity: 0.7;
                    cursor: pointer;
                  }           
            }
            .restofthecontent{
                .mytabs{
                    .navtabswrapper{
                        padding:15px;
                        border:1px solid #ededed;
                        border-radius: 8px;
                    }
                    .nav-link{
                        background-color: #fff!important;
                        color:#4F547B;
                        @include myfont(16px,400,$main_font);
                    }
                    .nav-link.active{
                        background-color: #00ADD2!important;
                        color:#fff;
                    }

                    .firsttabcontent{
                        padding-top: 30px;
                        h2{
                            @include myfont(32px,500,$main_font);
                            color:#00596E;
                            margin-bottom: 30px;
                            margin-top: 30px;
                        }
                        p{
                            @include myfont(16px,400,$main_font);
                            color:#4F547B;
                        }
                        .accordion{
                            margin-top: 40px;
                        }
                        .accordion-button:not(.collapsed){
                            background-color: #00ADD2!important;
                            color:#fff;
                        }

                        .accordion-body{
                            padding: 0;
                            ul{
                                margin-bottom: 0;
                                padding-left: 0;
                                li{
                                    background-color: #f8f8f8;
                                    padding-left: 40px;
                                    height: 50px;
                                    line-height: 50px;
                                    border-top: 1px solid #ddd;
                                    border-bottom: 1px solid #ddd;
                                    position:relative;
                                    display: block;
                                    
                                    &::after{
                                        display: inline-block;
                                        width: 10px;
                                        height: 10px;
                                        background-color: #ddd;
                                        border-radius: 50%;
                                        top:50%;
                                        left:15px;
                                        transform: translateY(-50%);
                                        content:'';
                                        position:absolute;
                                    }
                                }
                            }
                        }
                        .accordion-header{
                            margin: 0;
                            color:#fff;
                        }
                    }
                    .secondtabcontent{
                        padding-top: 30px;
                        .ratingboxbig{
                            height: 425px;
                            border:1px solid #ededed;
                            border-radius: 8px;
                            padding: 36px 90px;
                           .starstogether{
                            img{
                                width: 100%;
                            }
                           }
                            .heading{
                                text-align: center;
                                h4{
                                    text-align: center;
                                    @include myfont(50px,500,$main_font);
                                    color:#00ADD2;
                                }
                                p{
                                    font-size: 18px!important;
                                }
                            }
                        }
                        .detailofins{
                            h3{
                                @include myfont(24px,400,#000);
                                margin-bottom: 0;
                                line-height: 24px;
                                margin-top: 5px;
                            }
                            .rating{
                                padding-left: 0;
                            }
                            .designation{
                                @include myfont(18px,400,$main_font);
                                color:#00ADD2;
                            }

                        }
                        h2{
                            @include myfont(32px,500,$main_font);
                            color:#00596E;
                            margin-bottom: 30px;
                            margin-top: 30px;
                        }
                        p{
                            @include myfont(16px,400,$main_font);
                            color:#4F547B;
                        }
                    }
                }
                .rating{
                    margin-top: 13px;
                    padding:0 20px;
                    margin-bottom: 12px;
                    .wrapper{
            
                        align-items: center;
                        .stars{
                            margin-top: -2px;
                        }
                        span{
                            display: inline-block;
                            @include myfont(15px,400,$main_font);
                            color:#4F547B;
                            &:first-child{
                                @include myfont(15px,500,$main_font);
                                margin-right: 7px;
                                
                                color:#FF9800;
                            }
                            &:last-child{
                                margin-left: 7px;
                            }
            
                        }
                    }
                }
                h3{
                    @include myfont(32px,500,$main_font);
                    margin:40px 0;
                }
                .teacherimg{
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
                .flexwrap{
                    display: flex;
                    align-items: center;
                    &.myborderright{
                        border-right: 1px solid #ededed;
                    }
                    .teachername{
                        p{
                            @include myfont(16px,400,$main_font);
                            color:#4F547B;
                            margin-left: 10px;
                        }
                    }
                    .enrolled{
                        p{
                            @include myfont(18px,400,$main_font);
                            color:#00ADD2;
                        }
                    }
                    
                }
            }
        }
    }
}