@import '../../sassStyles/variables';
@import '../../sassStyles/typography';
@import '../../sassStyles/mixins';
@import '../../sassStyles/global';

.desktop{
    &.donationpage{
        .footersection{
            margin-top: 80px;
        }
    }
    .bannerbottombardonation{
        .bbar{
            padding: 40px 65px;
            height: 233px;
            width: 100%;
            background-color: #fff;
            transform: translateY(-50%);
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            
            .basicinput{
                h3{
                    @include myfont(20px,700,$main_font);
                    color:#000;
                    height: 30px;
                }
                input{
                    border: 1px solid #ededed;
                }
            }
            .basicinputdrp{
                .css-13cymwt-control,.css-t3ipsp-control{
                    height: 50px;
                    border: 1px solid #ededed;
                    border-radius: 8px;
                    &:focus{
                        border: 1px solid #000;
                    }
                }
            }
            .mybutton{
                margin-top: 20px;
                button{
                    border-radius: 12px;
                }
            }
        }
    }
    .aboutdonationprocess{
        .aboutdonationdetails{
            @include myfont(16px,400,$main_font);
            color:#4F547B;
            margin-top: 25px;
        }
    }
    .donationevents{
        .mediumheading{
            h4{
                margin-top: 90px;
                margin-bottom: 30px;
            }
        }
        .donationgalllery{
            .imgcard{
                margin-bottom: 30px;
            }
        }
    }
}