@import "../../sass/sassStyles/_variables.scss";
.nvbar{
    background-color: $nvbar_bg;
    height: 80px;
    // width: 80%;
    // max-width: 1110px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding:0 90px;
    position: fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);
     box-sizing: border-box;
    nav{
        display: flex;
        align-items: center;
        height: 100%;
        ul{
            display: flex;
            gap:60px;
        }
    }
}